* {
  cursor: url(img/cursor.png), auto;
}
body{
  margin:0;
  padding:0;
  overflow:hidden;
}
canvas{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  transition: background 1s ease-out;
  
}
canvas.level-up{
  background:black;
}
.main-container{
  z-index:0;
  position:relative;
  width:100vw;
  height:100vh;
  justify-content: center;
  background: #ADD8E6;

  background: linear-gradient(180deg, #add8e6, #e6d7ad, #0f3d46);
  background-size: 600% 600%;
  animation: DayNight 60s ease infinite alternate;
}
.row{
  display: flex;
}
.col, body{
  display:flex;
  flex-direction: column;
}
#shape-image{
  width:60px;
  height:60px;
}
button{
  user-select: none;
  background:transparent;
  border:1px solid transparent;
  transition: all 0.3s;
  padding:2em 3em;
  margin:0 2em;
  outline: none;
  text-shadow:rgba(0,0,0,0.3) 1px 1px 2px;
  font-size:0.9em;
  color:white;
  width:8em;
  height:6em;
}
button:hover{
  border:1px solid rgba(0,0,0,0.5);
  background:rgba(255,255,255,0.5);
  border-radius:5%;
}
.yellow-button{
  color:#ffdd00;
  -webkit-text-stroke: 1px black;
}
#play-button{
  position: relative;
  -webkit-text-stroke: black 0.2px;
}
#play-button span{
  position: absolute;
  font-size:2.2em;
  top:0.7em;
  left:0.8em;
  font-family: 'Architects Daughter', cursive;
}
#shape-selector{
  font-family: 'Architects Daughter', cursive;
  align-items: center;
  background:rgba(255, 255, 255, 0.4);
  align-self: center;
  border:1px black solid;
  padding:3em 6em;
  user-select: none;
  border-radius:5%;
  position: relative;
  z-index:3;
}
.hidden{display:none;}
#hud {
  display:none;
    /* padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
    position: absolute;
    top:5px;
    right:10px;
    width:40em;
    height: 2em;
    user-select: none;
    opacity: 0.7;
}
#hud input {
  display: none;
}

#hud label {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 0.4rem;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: -2px 0 8px 0 rgba(255, 255, 255, 0.6);
}
#hud label div {
  position: absolute;
  top: 0;
  left: 0;
  filter:hue-rotate(222deg) brightness(1.2);
  background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
  height: 100%;
  width: 100%;
  transition: .3s ease-out;
  animation: grow 2s forwards;
  box-shadow: 0 0 8px 1px white inset;
}
#hud label div:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
  mix-blend-mode: overlay;
  opacity: 0.5;
}

#hud span {
  display: inline-block;
  position:relative;
  top:-41px;
  margin-left:15px;
  margin-right:5px;
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
}
#hud span:last-child {
  float: right;
}
#game-over{
  font-size:10em;
  opacity:0;
  pointer-events:none;
  position: relative;
  user-select: none;
  z-index: 1;
}
#game-over.visible, #game-over.intro{
  opacity:1;
  transition: opacity 3s ease-in;
}
#game-over p{
  font-family: 'Architects Daughter', cursive;
  position: fixed;
  text-align: center;
  width:100vw;
  top:0;
}
#score{
  text-align:left;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom:0;
  font-size:50%;
}
.gray{
  transition: filter 2.5s;
  filter:grayscale(75%) blur(2px);
}
#shape-selector h1, #shape-selector img{
  position: relative;
  padding: 1em 2em;
  margin:-1em -2em;
  top:10px;
  transition: all 1s;
}
  #shape-selector h1:hover, #shape-selector img:hover{
  animation: bounce 0.5s ease infinite alternate;
}
#random-shape-button div{
  position: relative;
  top:0;
}
#random-shape-button:hover div{

  animation: rotate 1s none infinite;
}

@-webkit-keyframes bounce{
  to {
    top:0px;
  }
}
@-webkit-keyframes rotate{
  to{
    transform:rotate(720deg);
  }
}

@-webkit-keyframes DayNight {
  to{background-position:200% 100%}
}
/*@-moz-keyframes DayNight {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes DayNight {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}*/