canvas{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background: #ADD8E6;
}
*{
  cursor: url(img/cursor.png), auto;
}
body{
    margin:0;
    padding:0;
    overflow:hidden;
}
.row{
    display: flex;
}
.col, body{
    display:flex;
    flex-direction: column;
}
#shape-image{
    width:50px;
    height:50px;
}
button{
    user-select: none;
}
#shape-selector{
  align-items: center;
  background:rgba(255, 255, 255, 0.4);
  align-self: center;
  border:1px black solid;
  padding:3em 6em;
  user-select: none;
  border-radius:5%;
}
.hidden{display:none;}
#hud {
    /* padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
    position: absolute;
    top:5px;
    right:10px;
    width:40em;
    height: 2em;
    user-select: none;
    opacity: 0.7;
}
#hud input {
  display: none;
}

#hud label {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 0.4rem;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: -2px 0 8px 0 rgba(255, 255, 255, 0.6);
}
#hud label div {
  position: absolute;
  top: 0;
  left: 0;
  filter:hue-rotate(222deg) brightness(1.2);
  background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
  height: 100%;
  width: 100%;
  transition: .3s ease-out;
  animation: grow 2s forwards;
  box-shadow: 0 0 8px 1px white inset;
}
#hud label div:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
  mix-blend-mode: overlay;
  opacity: 0.5;
}

#hud span {
  display: inline-block;
  position:relative;
  top:-41px;
  margin-left:15px;
  margin-right:5px;
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
}
#hud span:last-child {
  float: right;
}
.main-container{
  position:relative;
  width:100vw;
  height:100vh;
  justify-content: center;
}
#game-over{
  font-size:10em;
  opacity:0;
  pointer-events:none;
  position: relative;
  user-select: none;
  z-index: 1;
}
#game-over.visible, #game-over.intro{
  opacity:1;
  transition: opacity 3s ease-in;
}
#game-over p{
  font-family: 'Architects Daughter', cursive;
  position: fixed;
  text-align: center;
  width:100vw;
  top:0;
}
#score{
  text-align:left;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom:0;
  font-size:50%;
}
.gray{
  transition: filter 2.5s;
  filter:grayscale(75%) blur(2px);
}
